body{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Roboto;
    font-weight: 100;

}
.light{
    height: 100vh;
    
    display: grid;
    place-content: center;
    transition: 0.5s all;
}
.dark{
    height: 100vh;
    background-color: rgb(82, 82, 82);
   color: white;
    
    display: grid;
    place-content: center;
    transition: 0.5s all;
}
h1,h2{
    transition: 0.5s all;
}
