body{
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-weight: 100;
    overflow: hidden;
    
}


h1,h2{
    transition: 0.5s all;
}
.con{
    overflow-x: hidden;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 35%, rgba(148,187,233,1) 100%); ;
}
.conrain{
    transition: 1.5s all;
    background-image: url('./Images/rainy.jpg');
    background-size: 1620px 1080px;
}

.concloud{
    transition: 1.5s all;
    background-image: url('./Images/cloudy.jpg');
    background-size: 1620px 1080px;
}
.consunny{
    transition: 1.5s all;
    background-image: url('./Images/sunny.jpg');
    background-size: 1620px 1080px;
}
.item2{
    
    height: 100vh;
    padding: 20px;
}
.paper{ 
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content:left;
    align-items: stretch;
    padding: 10px;
}
.temp{
    padding: 30px;
}
.pap{
    opacity: 0.9;
    backdrop-filter:blur(20px);
    
padding: 20px;
}
.minmax{
    padding: 10px;
    
}
@media screen and (max-width:500px){
    .conrain,.concloud,.consunny{
        background-size: 1200px 900px;
    }
}
